<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <ul>
            <li>İstanbul</li>
            <li>Ankara</li>
            <li>İzmir</li>
        </ul>
    </div>
    <hr />
    <div>
        <span>Kendi oluşturmuş olduğum _Layout</span>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
