@{
    ViewBag.Title = "Home Page";
}


@* ? işareti ile farklı bir sayfaya geçiş esnasında parametre alanına değer gönderebiliyoruz *@

<a href="/Home/Index2?name=Bilal&surname=Kırkgül">Index2 sayfasına git</a>