@{
    ViewBag.Title = "Home Page";
}

@section footer{
    <span>Bu sayfa index sayfasıdır</span><hr />
    <span>Bu yapı içerik farklı yer sabit anlamı taşır. Layout'da tanımlanan yerde çıkar</span>
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Ad</th>
                            <th>Şehir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AAA</td>
                            <td>BBB</td>
                        </tr>
                        <tr>
                            <td>CCC</td>
                            <td>DDDD</td>
                        </tr>
                        <tr>
                            <td>EEE</td>
                            <td>FFFFF</td>
                        </tr>
                        <tr>
                            <td>GGGGG</td>
                            <td>HHHHH</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>