
@{
    ViewBag.Title = "Index2";
}
@model List<Product>
<h2>Ürün Listesi</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>CategoryId</th>
            <th>ProductName</th>
            <th>UnitPrice</th>
            <th>UnitInStock</th>
        </tr>
    </thead>
    <tbody>
    @Html.Partial("_productList",Model)
    </tbody>


</table>
