
@{
    ViewBag.Title = "Index1";
}

<h2>Home Index1</h2>

<br />
@Html.ActionLink("Index sayfasına git", "Index", "Home")
<br />
@Html.ActionLink("Index2 sayfasına git","Index2","Home")
<br />
@Html.ActionLink("Default Index sayfasına git","Index","Default")