
@{
    ViewBag.Title = "Index";
}

<h2>Default Index</h2>

<a href="/Home/Index">Home Index sayfasına git</a>
<br />
<a href="/Home/Index1">Home Index1 sayfasına git</a>
<br />
<a href="/Home/Index2">Home Index2 sayfasına git</a>
