@{
    ViewBag.Title = "About";
}

@model List<Category> 

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



@foreach (Category item in Model)
{
    @Html.Partial("_PartialPage3",item)
}

<p>Use this area to provide additional information.</p>

