
@{
    ViewBag.Title = "Index2";
}

<h2>Partial Viewler içerik sabit yapılardır. İçeriği sabit bu yapıyı ihtiyacımızın olduğu farklı yerlerde kullanabiliriz.</h2>

<div class="col-lg-6">
    @Html.Partial("_YararliLinkler")
</div>

